.gfy-scroll-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}
.gfy-scroll-container .gfy-scroll-view {
  position: relative;
  flex: 1;
}
.flex {
  display: flex;
}
.column {
  display: flex;
  flex-direction: column;
}
.column-justify-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.column-align-center {
  display: flex;
  flex-direction: column;
  align-content: center;
}
.column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.align-center {
  display: flex;
  align-items: center;
}
.justify-center {
  display: flex;
  justify-content: center;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.space-between {
  display: flex;
  justify-content: space-between;
}
.van-field.custom-input {
  position: relative;
  padding: 0 0 4px 0;
  font-size: 16px;
}
.van-field.custom-input::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  content: '';
  background: #CCCCCC;
  height: 1px;
  z-index: 99;
  transform-origin: left bottom;
  transform: scaleY(0.5);
}
.van-button.custom-btn {
  border-radius: 5px;
  background-color: #57C3FE;
}
.van-button.custom-btn.van-button--info {
  border: 0;
}
.van-dialog.change-subject .van-dialog__header {
  color: #010101;
  font-size: 18px;
  font-weight: 700;
}
.van-dialog.change-subject .van-dialog__content {
  padding: 10px 0;
}
.van-dialog.change-subject .van-dialog__content .van-dialog__message {
  color: #000;
  font-size: 16px;
}
.van-nav-bar.custom-nav {
  height: 48px;
  width: 100%;
  line-height: 48px;
  position: fixed;
}
.van-nav-bar.custom-nav .van-nav-bar__left i {
  font-size: 23px;
  color: #999999;
}
.van-nav-bar.custom-nav .van-nav-bar__title {
  font-size: 18px;
  color: #333333;
}
.van-nav-bar.custom-nav .van-nav-bar__right {
  height: 48px;
  line-height: 48px;
  align-items: center;
  display: flex;
  justify-content: center;
}
.bb {
  position: relative;
}
.bb::after {
  position: absolute;
  bottom: 0;
  left: 0;
  display: block;
  width: 100%;
  content: '';
  background: #CCCCCC;
  height: 1px;
  z-index: 99;
  transform-origin: left bottom;
  transform: scaleY(0.5);
}
.fs24 {
  font-size: 24px;
}
.fs18 {
  font-size: 18px;
}
.fs16 {
  font-size: 16px;
}
.fs15 {
  font-size: 15px;
}
.fs14 {
  font-size: 14px;
}
.fs12 {
  font-size: 12px;
}
.fs10 {
  font-size: 10px;
}
.yellow {
  color: #FFB346 !important;
}
.blue {
  color: #39F0DD !important;
}
.black {
  color: #333;
}
.red {
  color: #FE2424 !important;
}
.orange {
  color: #FF7200;
}
.grey9 {
  color: #999;
}
.grey6 {
  color: #666;
}
.ccc {
  color: #ccc !important;
}
.mgr15 {
  margin-right: 15px;
}
.mgr20 {
  margin-right: 20px;
}
.mgr10 {
  margin-right: 10px;
}
.mgb10 {
  margin-bottom: 10px;
}
.mgb15 {
  margin-bottom: 15px;
}
.mgb20 {
  margin-bottom: 20px;
}
.mgb5 {
  margin-bottom: 5px;
}
.mgt5 {
  margin-top: 5px;
}
.mgt10 {
  margin-top: 10px;
}
.mgt15 {
  margin-top: 15px;
}
.mglt10 {
  margin-left: 10px;
}
.mgb10 {
  margin-bottom: 10px;
}
.pdt10 {
  padding-top: 10px;
}
.pd5 {
  padding: 5px;
}
.pd10 {
  padding: 10px;
}
.pdlt10 {
  padding-left: 10px;
}
.lh28 {
  line-height: 28px;
}
.lh32 {
  line-height: 32px;
}
.lh44 {
  line-height: 44px;
}
.aic {
  display: flex;
  align-items: center;
}
.jcsb {
  display: flex;
  justify-content: space-between;
}
.mh44 {
  min-height: 44px;
}
.van-dropdown-menu__title--down:after {
  content: '';
}
.inline > p {
  display: inline !important;
}
.html-img {
  overflow: hidden;
  width: 100%;
}
.html-img img {
  width: 100% !important;
}
.html-img table {
  display: block !important;
  overflow-x: auto !important;
}
.html-img audio {
  width: 90% !important;
}
.triangle {
  width: 0;
  height: 0;
  border-width: 0 10px 10px;
  border-style: solid;
  border-color: transparent transparent #ccc;
}
.empty-page {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #999;
  font-size: 12px;
}
.empty-page img {
  width: 100%;
}
.empty-tip {
  position: absolute;
  width: 100px;
  line-height: 36px;
  color: #fff;
  border-radius: 5px;
  background: rgba(0, 0, 0, 0.3);
  font-size: 14px;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.is-hidden {
  visibility: hidden;
}
.is-hidden > * {
  visibility: hidden;
}
