.iconGFY {
  display: inline-block;
  vertical-align: middle;
}
.icon-book {
  width: 25px;
  height: 15px;
  background: url(../../assets/img/icon-book.png) no-repeat;
  background-size: contain;
}
.icon-play1 {
  width: 25px;
  height: 19px;
  background: url(../../assets/img/icon-play.png) no-repeat;
  background-size: contain;
}
.icon-res {
  width: 16px;
  height: 25px;
  background: url(../../assets/img/icon-res.png) no-repeat;
  background-size: contain;
}
.icon-plus {
  width: 25px;
  height: 25px;
  background: url(../../assets/img/icon-plus.png) no-repeat;
  background-size: contain;
}
.icon-arrow {
  width: 10px;
  height: 12px;
  background: url(../../assets/img/icon-arrow.png) no-repeat;
  background-size: contain;
}
.icon-arrow-grey {
  width: 10px;
  height: 12px;
  background: url(../../assets/img/icon-arrow-grey.png) no-repeat;
  background-size: contain;
}
.icon-edit-disable {
  width: 15px;
  height: 14px;
  background: url(../../assets/img/icon-edit-grey.png) no-repeat;
  background-size: contain;
}
.icon-edit {
  width: 15px;
  height: 14px;
  background: url(../../assets/img/icon-edit.png) no-repeat;
  background-size: contain;
}
.icon-statistics {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-statistics.png) no-repeat;
  background-size: contain;
}
.icon-bell {
  width: 18px;
  height: 20px;
  background: url(../../assets/img/icon-bell.png) no-repeat;
  background-size: contain;
}
.icon-user {
  width: 22px;
  height: 17px;
  background: url(../../assets/img/icon-user.png) no-repeat;
  background-size: contain;
}
.icon-tv {
  width: 21px;
  height: 14px;
  background: url(../../assets/img/icon-tv.png) no-repeat;
  background-size: contain;
}
.icon-cap {
  width: 21px;
  height: 14px;
  background: url(../../assets/img/jiatingjiaoyu.png) no-repeat;
  background-size: contain;
}
.icon-errors {
  width: 17px;
  height: 20px;
  background: url(../../assets/img/icon-errors.png) no-repeat;
  background-size: contain;
}
.icon-special {
  width: 17px;
  height: 20px;
  background: url(../../assets/img/icon-special.png) no-repeat;
  background-size: contain;
}
.icon-res-plus {
  width: 17px;
  height: 20px;
  background: url(../../assets/img/icon-res-plus.png) no-repeat;
  background-size: contain;
}
.icon-course {
  width: 63px;
  height: 18px;
  background: url(../../assets/img/icon-course.png) no-repeat;
  background-size: contain;
}
.icon-test {
  width: 34px;
  height: 18px;
  background: url(../../assets/img/icon-test.png) no-repeat;
  background-size: contain;
}
.icon-discuss {
  width: 34px;
  height: 18px;
  background: url(../../assets/img/icon-discuss.png) no-repeat;
  background-size: contain;
}
.icon-spoken {
  width: 34px;
  height: 18px;
  background: url(../../assets/img/icon-spoken.png) no-repeat;
  background-size: contain;
}
.icon-learn-res {
  width: 63px;
  height: 18px;
  background: url(../../assets/img/icon-learn-res.png) no-repeat;
  background-size: contain;
}
.icon-learn-res-exp {
  width: 63px;
  height: 18px;
  background: url(../../assets/img/icon-learn-res-exp.png) no-repeat;
  background-size: contain;
}
.icon-exam {
  width: 63px;
  height: 18px;
  background: url(../../assets/img/icon-exam.png) no-repeat;
  background-size: contain;
}
.icon-comment {
  width: 63px;
  height: 18px;
  background: url(../../assets/img/icon-comment.png) no-repeat;
  background-size: contain;
}
.icon-edit-blue {
  width: 11px;
  height: 10px;
  background: url(../../assets/img/icon-edit-blue.png) no-repeat;
  background-size: contain;
}
.icon-fold {
  width: 25px;
  height: 25px;
  background: url(../../assets/img/icon-fold.png) no-repeat;
  background-size: contain;
}
.icon-check {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-check.png) no-repeat;
  background-size: contain;
  vertical-align: baseline;
}
.icon-radio-active {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-radio-active.png) no-repeat;
  background-size: contain;
  vertical-align: baseline;
}
.icon-radio-disable {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-radio-disable.png) no-repeat;
  background-size: contain;
  vertical-align: baseline;
}
.icon-backtop {
  width: 47px;
  height: 47px;
  background: url(../../assets/img/icon-backtop.png) no-repeat;
  background-size: contain;
}
.icon-somewhat {
  width: 18px;
  height: 13px;
  background: url(../../assets/img/icon-somewhat.png) no-repeat;
  background-size: contain;
}
.icon-correct {
  width: 18px;
  height: 13px;
  background: url(../../assets/img/icon-correct.png) no-repeat;
  background-size: contain;
}
.icon-error {
  width: 16.5px;
  height: 17px;
  background: url(../../assets/img/icon-error.png) no-repeat;
  background-size: contain;
}
.icon-wx {
  width: 42px;
  height: 42px;
  background: url(../../assets/img/icon-wx.png) no-repeat;
  background-size: contain;
}
.icon-qq {
  width: 42px;
  height: 42px;
  background: url(../../assets/img/icon-qq.png) no-repeat;
  background-size: contain;
}
.icon-timeline {
  width: 42px;
  height: 42px;
  background: url(../../assets/img/icon-timeline.png) no-repeat;
  background-size: contain;
}
.icon-qzone {
  width: 42px;
  height: 42px;
  background: url(../../assets/img/icon-qzone.png) no-repeat;
  background-size: contain;
}
.icon-copy-link {
  width: 42px;
  height: 42px;
  background: url(../../assets/img/icon-copy-link.png) no-repeat;
  background-size: contain;
}
.icon-enlarge {
  width: 9px;
  height: 9px;
  background: url(../../assets/img/icon-enlarge.png) no-repeat;
  background-size: contain;
}
.icon-reduce {
  width: 9px;
  height: 9px;
  background: url(../../assets/img/icon-reduce.png) no-repeat;
  background-size: contain;
}
.icon-rotate-left {
  width: 9px;
  height: 9px;
  background: url(../../assets/img/icon-rotate.png) no-repeat;
  background-size: contain;
}
.icon-rotate-right {
  width: 9px;
  height: 9px;
  background: url(../../assets/img/icon-rotate.png) no-repeat;
  background-size: contain;
  transform: rotateY(180deg);
}
.icon-pen-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-pen-white.png) no-repeat;
  background-size: contain;
}
.icon-hide {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-hide.png) no-repeat;
  background-size: contain;
}
.icon-hide-active {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-hide-active.png) no-repeat;
  background-size: contain;
}
.icon-good-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-good-white.png) no-repeat;
  background-size: contain;
}
.icon-top-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-top-white.png) no-repeat;
  background-size: contain;
}
.icon-essence-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-essence-white.png) no-repeat;
  background-size: contain;
}
.icon-circle-plus-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-circle-plus-white.png) no-repeat;
  background-size: contain;
}
.icon-circle-plus-yellow {
  width: 14px;
  height: 14px;
  background: url(../../assets/img/icon-circle-plus-yellow.png) no-repeat;
  background-size: contain;
}
.icon-circle-sub-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-circle-sub-white.png) no-repeat;
  background-size: contain;
}
.icon-talk-white {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-talk-white.png) no-repeat;
  background-size: contain;
}
.icon-pen {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-pen.png) no-repeat;
  background-size: contain;
}
.icon-pen-active {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-pen-active.png) no-repeat;
  background-size: contain;
}
.icon-rubber {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-rubber.png) no-repeat;
  background-size: contain;
}
.icon-rubber-active {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-rubber-active.png) no-repeat;
  background-size: contain;
}
.icon-del {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-del.png) no-repeat;
  background-size: contain;
}
.icon-good {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-good.png) no-repeat;
  background-size: contain;
}
.icon-good-active {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-good-active.png) no-repeat;
  background-size: contain;
}
.icon-top {
  width: 14px;
  height: 15px;
  background: url(../../assets/img/icon-top.png) no-repeat;
  background-size: contain;
}
.icon-top-active {
  width: 14px;
  height: 15px;
  background: url(../../assets/img/icon-top-active.png) no-repeat;
  background-size: contain;
}
.icon-essence {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-essence.png) no-repeat;
  background-size: contain;
}
.icon-essence-active {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-essence-active.png) no-repeat;
  background-size: contain;
}
.icon-circle-plus {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-circle-plus.png) no-repeat;
  background-size: contain;
}
.icon-circle-sub {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-circle-sub.png) no-repeat;
  background-size: contain;
}
.icon-talk {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-talk.png) no-repeat;
  background-size: contain;
}
.icon-save {
  width: 10px;
  height: 10px;
  background: url(../../assets/img/icon-save.png) no-repeat;
  background-size: contain;
}
.icon-ellipsis {
  width: 15px;
  height: 3.5px;
  background: url(../../assets/img/icon-ellipsis.png) no-repeat;
  background-size: contain;
}
.icon-video {
  width: 59px;
  height: 49px;
  background: url(../../assets/img/icon-video.png) no-repeat;
  background-size: contain;
}
.icon-audio {
  width: 59px;
  height: 49px;
  background: url(../../assets/img/icon-audio.png) no-repeat;
  background-size: contain;
}
.icon-send {
  width: 35px;
  height: 22.5px;
  background: url(../../assets/img/icon-send.png) no-repeat;
  background-size: contain;
}
.icon-share {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-share.png) no-repeat;
  background-size: contain;
}
.icon-choice {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-choice.png) no-repeat;
  background-size: contain;
}
.icon-school {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-school.png) no-repeat;
  background-size: contain;
}
.icon-boutique {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-boutique.png) no-repeat;
  background-size: contain;
}
.icon-boutique-purple {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-boutique-purple.png) no-repeat;
  background-size: contain;
}
.icon-personal {
  width: 30px;
  height: 15px;
  background: url(../../assets/img/icon-personal.png) no-repeat;
  background-size: contain;
}
.icon-feather {
  width: 11.5px;
  height: 11.5px;
  background: url(../../assets/img/icon-feather.png) no-repeat;
  background-size: contain;
}
.icon-star {
  width: 11.5px;
  height: 11.5px;
  background: url(../../assets/img/icon-star.png) no-repeat;
  background-size: contain;
}
.icon-collect {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-collect.png) no-repeat;
  background-size: contain;
}
.icon-collect-yellow {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-collect-yellow.png) no-repeat;
  background-size: contain;
}
.icon-plane {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-plane.png) no-repeat;
  background-size: contain;
}
.icon-points {
  width: 10.5px;
  height: 11.5px;
  background: url(../../assets/img/icon-points.png) no-repeat;
  background-size: contain;
}
.icon-download {
  width: 10.5px;
  height: 11.5px;
  background: url(../../assets/img/icon-download.png) no-repeat;
  background-size: contain;
}
.icon-download-orange {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-download-orange.png) no-repeat;
  background-size: contain;
}
.icon-download-blue {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-download-blue.png) no-repeat;
  background-size: contain;
}
.icon-pdf {
  width: 52px;
  height: 49px;
  background: url(../../assets/img/icon-pdf.png) no-repeat;
  background-size: contain;
}
.icon-doc {
  width: 52px;
  height: 49px;
  background: url(../../assets/img/icon-doc.png) no-repeat;
  background-size: contain;
}
.icon-ppt {
  width: 52px;
  height: 49px;
  background: url(../../assets/img/icon-ppt.png) no-repeat;
  background-size: contain;
}
.icon-xls {
  width: 52px;
  height: 49px;
  background: url(../../assets/img/icon-xls.png) no-repeat;
  background-size: contain;
}
.icon-img {
  width: 52px;
  height: 49px;
  background: url(../../assets/img/icon-img.png) no-repeat;
  background-size: contain;
}
.icon-edit-orange {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-edit-orange.png) no-repeat;
  background-size: contain;
}
.icon-copy-orange {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-copy-orange.png) no-repeat;
  background-size: contain;
}
.icon-difficult {
  width: 10px;
  height: 11.5px;
  background: url(../../assets/img/icon-difficult.png) no-repeat;
  background-size: contain;
}
.icon-zhu {
  width: 9px;
  height: 11.5px;
  background: url(../../assets/img/icon-zhu.png) no-repeat;
  background-size: contain;
}
.icon-ke {
  width: 9px;
  height: 11.5px;
  background: url(../../assets/img/icon-ke.png) no-repeat;
  background-size: contain;
}
.icon-exam-100 {
  width: 52.5px;
  height: 49px;
  background: url(../../assets/img/icon-exam-100.png) no-repeat;
  background-size: contain;
}
.icon-file {
  width: 22px;
  height: 19px;
  background: url(../../assets/img/icon-file.png) no-repeat;
  background-size: contain;
}
.icon-auto {
  width: 35px;
  height: 22.5px;
  background: url(../../assets/img/icon-auto.png) no-repeat;
  background-size: contain;
}
.icon-excellent {
  width: 35px;
  height: 22.5px;
  background: url(../../assets/img/icon-excellent.png) no-repeat;
  background-size: contain;
}
.icon-boutique-badge {
  width: 35px;
  height: 22.5px;
  background: url(../../assets/img/icon-boutique-badge.png) no-repeat;
  background-size: contain;
}
.icon-chat {
  width: 52px;
  height: 50px;
  background: url(../../assets/img/icon-chat.png) no-repeat;
  background-size: contain;
}
.icon-en {
  width: 52px;
  height: 50px;
  background: url(../../assets/img/icon-en.png) no-repeat;
  background-size: contain;
}
.icon-lamp {
  width: 8.5px;
  height: 11.5px;
  background: url(../../assets/img/icon-lamp.png) no-repeat;
  background-size: contain;
}
.icon-accuracy {
  width: 10px;
  height: 11.5px;
  background: url(../../assets/img/icon-accuracy.png) no-repeat;
  background-size: contain;
}
.icon-player {
  width: 200px;
  height: 25px;
  background: url(../../assets/img/icon-player.png) no-repeat;
  background-size: contain;
}
.icon-circle-arrow {
  width: 20px;
  height: 20px;
  background: url(../../assets/img/icon-circle-arrow.png) no-repeat;
  background-size: contain;
}
.icon-circle-logo {
  width: 50px;
  height: 50px;
  background: url(../../assets/img/icon-circle-logo.png) no-repeat;
  background-size: contain;
}
.icon-layer {
  width: 25px;
  height: 25px;
  background: url(../../assets/img/icon-layer.png) no-repeat;
  background-size: contain;
}
.icon-tip {
  width: 15px;
  height: 15px;
  background: url(../../assets/img/icon-tip.png) no-repeat;
  background-size: contain;
}
