* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-overflow-scrolling: touch;
}
body {
  font-family: Helvetica;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
a,
img {
  -webkit-touch-callout: none;
}
img {
  content: normal !important;
}
i,
em,
strong {
  font-style: normal;
}
strong {
  font-weight: 400;
}
input::-webkit-input-placeholder {
  color: #999;
}
textarea::-webkit-input-placeholder {
  color: #999;
}
input,
textarea {
  resize: none;
  outline: none;
  border: none;
  background: transparent;
}
button {
  outline: none;
  background: none;
  border: none;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}
input:-moz-placeholder,
textarea:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}
input::-moz-placeholder,
textarea::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}
